body {
  margin: 0px;
}

.box-wrapper {
  width: 500px;
  background-color: #fff;
}

.box {
  /* Content Box*/
  /*width: 500px; ==> 컨텐트 영역의 Width를 500px로 정의한다.
    padding, border가 추가되면 박스의 크기가 함께 커진다.
  */
  width: 500px;

  /* 경계선 추가 - 박스의 경계선을 모두 생성 */
  border: 0.5px solid #ddd;
  /* 모서리를 둥글게 처리한다. */
  border-radius: 7px;

  /* 박스의 오른쪽에만 경계선을 생성 
  border-right: 3px solid #f11; */

  /* 박스의 왼쪽에만 경계선을 생성 
  border-left: 6px solid #f00; */

  /* 컨텐트 영역과 경계선 영역 사이의 여백 */
  /* padding: 1rem; */

  /* 패딩 영역을 상하/좌우 별로 할당 */
  /* padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5px;
  padding-right: 5px; */

  /* padding: 1rem 5px 1rem 5px; */

  padding: 1rem 5px;

  /* 경계선 바깥 쪽 여백 => 박스 간의 여백을 생성 */
  /* margin: 1rem; */

  /* margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 5px;
  margin-right: 5px;

  margin: 1rem 5px 1rem 5px; */

  margin: 1rem 5px;
}

.border-box {
  /* border-box 스타일로 정의 */
  box-sizing: border-box;
  width: 300px;

  /*패딩, 보더, 마진 원하는대로 할당*/
  padding: 1rem 5px;
  border: 5px solid #1ff;
  border-radius: 50px;
  margin: 1rem 5px;
}

.circle {
  width: 100px;
  height: 100px;
  border: 3px solid #000;
  border-radius: 50px;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}
