* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.absolute-top-left {
  position: absolute;
  top: 0px;
  left: 0px;

  background-color: aquamarine;

  padding: 10px;
  border: 2px solid #333;
}

.absolute-top-right {
  position: absolute;
  top: 0px;
  right: 0px;

  background-color: aquamarine;

  padding: 10px;
  border: 2px solid #333;
}

.absolute-bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;

  background-color: aquamarine;

  padding: 10px;
  border: 2px solid #333;
}

.absolute-bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;

  background-color: aquamarine;

  padding: 10px;
  border: 2px solid #333;
}

.fixed-top-left {
  position: fixed;
  top: 0px;
  left: 0px;

  background-color: aquamarine;

  padding: 10px;
  border: 2px solid #333;
}

.fixed-top-right {
  position: fixed;
  top: 0px;
  right: 0px;

  background-color: aquamarine;

  padding: 10px;
  border: 2px solid #333;
}

.fixed-bottom-left {
  position: fixed;
  bottom: 0px;
  left: 0px;

  background-color: aquamarine;

  padding: 10px;
  border: 2px solid #333;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 0px;
  right: 0px;

  background-color: aquamarine;

  padding: 10px;
  border: 2px solid #333;
}

.relative-1 {
  width: 500px;

  position: relative;

  background-color: antiquewhite;

  padding: 10px;
  border: 2px solid #333;
}

.relative-2 {
  width: 500px;

  position: relative;
  top: 100px;
  left: 100px;

  background-color: antiquewhite;

  padding: 10px;
  border: 2px solid #333;
}

.relative-3 {
  width: 500px;

  position: relative;
  bottom: 100px;
  right: 100px;

  background-color: antiquewhite;

  padding: 10px;
  border: 2px solid #333;
}

.relative-box {
  position: relative;

  font-size: 1.12rem;

  width: 300px;
  height: 600px;

  padding: 10px;
  border: 2px solid #333;

  background-color: antiquewhite;
}

.relative-box:hover > .absolute-box {
  top: 0px;
}

.absolute-box {
  position: absolute;

  bottom: 0px;
  left: 0px;
  right: 0px;

  padding: 7px;

  background-color: #3339;
  color: #eee;
}

.image-box {
  position: relative;

  display: inline-block;
  width: 300px;
  height: 300px;

  & > img {
    width: 100%;
    height: 100%;

    vertical-align: bottom;
  }

  & > div {
    position: absolute;

    bottom: 0px;
    left: 0px;
    right: 0px;

    color: #eee;
    background-color: #e0e7;
    text-align: center;

    padding: 10px;
  }

  &:hover > div {
    top: 0px;
    padding: 45% 0;
  }
}

.text-box {
  position: relative;

  width: 300px;
  height: 500px;

  margin: 10px;

  & > .first {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: aquamarine;
  }

  &:hover > .second {
    background-color: #bbb;
    opacity: 0;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    position: absolute;

    transition: opacity 0.3s ease;
  }

  &:hover > .second {
    opacity: 1;
  }
}

.guide-section {
  & > h3 {
    margin: 0;
    padding-top: 50px;
  }
  & > ul {
    position: sticky;
    top: 10px;

    background-color: #fff;

    padding: 10px 0;
    border: 1px solid #000;
    margin: 0;

    & > li {
      display: inline-block;
      margin: 0 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
