.overflow-visible,
.overflow-hidden,
.overflow-scroll,
.overflow-auto {
  width: 200px;
  height: 200px;

  padding: 10px;
  border: 1px solid #f00;
}

.overflow-visible {
  /*overflow-hidden 확인을 위해 일시적으로 안보이게 처리*/
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.ellipsis {
  width: 300px;
  /* height: 16px; */

  padding: 10px;
  border: 1px solid #000;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & > .tooltip {
    position: absolute;
    white-space: wrap;
    display: none;
  }

  &:hover > .tooltip {
    display: block;
    width: 300px;

    background-color: azure;
    border: 2px solid #f00;
  }
}
