.papago {
  width: 135px;
  height: 135px;

  /*백그라운드 이미지 지정*/
  background-image: url(../image/naver_sprite.png);
  /*백그라운드 이미지 반복 없음*/
  background-repeat: no-repeat;
}

.smart-store-light {
  width: 145px;
  height: 145px;

  /*백그라운드 이미지 지정*/
  background-image: url(../image/naver_sprite.png);
  /*백그라운드 이미지 반복 없음*/
  background-repeat: no-repeat;
  /*백그라운드 이미지 위치 조정*/
  background-position: -160px 0px;
}

.smart-store-dark {
  width: 145px;
  height: 145px;

  /*백그라운드 이미지 지정*/
  background-image: url(../image/naver_sprite.png);
  /*백그라운드 이미지 반복 없음*/
  background-repeat: no-repeat;
  /*백그라운드 이미지 위치 조정*/
  background-position: 0px -140px;
}
