body {
  margin: 0;
  height: 100vh;
}

.contents {
  height: 70vh;
  background-color: violet;
}

.footer {
  height: 30vh;
  min-height: 7.8125rem;
  background-color: red;
}

.inline-box {
  padding: 10px;
  border: 1px solid #000;
  margin: 10px;

  display: inline-block;
  width: 47%;

  vertical-align: top;

  &:last-child {
    margin-left: 0;
    margin-right: 0;
  }
}

.hundred-percent {
  height: 30px;
  width: 100%;

  background-color: aqua;
}

.hundred-vw {
  width: 100vw;
  height: 30px;

  background-color: blueviolet;
}

.half-vw {
  width: 50vw;
  height: 30px;

  background-color: chocolate;
}

.hundred-percent-height {
  display: inline-block;
  width: 30%;

  height: 100%;

  background-color: aqua;
}

.hundred-vh {
  display: inline-block;
  width: 30%;

  height: 100vh;

  background-color: burlywood;
}

.half-vh {
  display: inline-block;
  width: 30%;

  height: 50vh;

  background-color: crimson;
}
