/**/

/*
label:has(+ input[type="radio"]) {
  border: 1px solid #0f0;
}
*/

label + input[type="checkbox"] {
  display: none;
}

label:has(+ input[type="checkbox"]:checked) {
  display: inline-block;
  width: 12px;
  height: 12px;

  border-radius: 50%;

  background-image: url(../image/naver_sprite.png);
  background-size: 368px 352px;
  background-position: -288px -325px;
  background-repeat: no-repeat;
}

label:has(+ input[type="checkbox"]:not(:checked)) {
  display: inline-block;
  width: 10px;
  height: 10px;

  border: 1px solid #ccc;
  border-radius: 50%;
}

.input-area {
  font-size: 0;

  & > .input-field {
    display: inline-block;
  }

  & label {
    display: inline-block;
    font-size: 1rem;

    padding: 10px 10px;

    &[for="male"] {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &[for="female"] {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

label + input[type="radio"] {
  display: none;
}

/* 선택된 radio 의 label 스타일 */
label:has(+ input[type="radio"]:checked) {
  border: 1px solid #03c75a;
  color: #03c75a;
}

/* 선택되지 않은 radio 의 label 스타일*/
label:has(+ input[type="radio"]:not(:checked)) {
  border: 1px solid #bbb;
  color: #bbb;
}
