.flex-row {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  /* flex item 들의 간격 */
  /* gap: 10px; */

  & > div {
    background-color: #0ef;

    /* flex-items */
    /* flex-basis: 50%; */
    flex-basis: 100px;
    flex-grow: 1;

    &:first-child {
      flex-grow: 1;
      flex-shrink: 0;
    }
  }
}

.flex-row-reverse {
  height: 200px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  & > li {
    background-color: #0ef;
  }
}

.flex-column {
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  & > div {
    background-color: #0ef;

    flex-basis: 50px;
  }
}

.flex-column-reverse {
  height: 200px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  list-style-type: none;
  display: flex;

  & > li {
    background-color: #0ef;
  }
}
