.grid-form {
  display: grid;

  grid-template-columns: minmax(20px, auto) 1fr;
  gap: 10px;
  align-items: center;

  & > input {
    padding: 10px;
  }
}

.button-area {
  grid-column: 1 / -1;

  display: flex;
  justify-content: flex-end;
  gap: 10px;

  & > button {
    padding: 5px 10px;
  }
}

@media (max-width: 500px) {
  div.grid-form {
    grid-template-columns: 1fr;
  }
}
