body {
  margin: 0;
}

.grid {
  width: 400px;
  height: 400px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  grid-template-rows: repeat(4, 1fr);
  gap: 3px;

  padding: 5px;
  border: 1px solid #555;

  & > div {
    border: 1px solid #555;
  }

  & > .grid-merge-col1 {
    grid-column: 1 / -1;
    background-color: #aaa;
  }

  & > .grid-merge-row1 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;

    background-color: #92c6f7;
  }

  & > .grid-merge-block {
    grid-column: 4 / -1;
    grid-row: 3 / -1;

    background-color: #a9c7e2;
  }

  & > .grid-merge-col2 {
    grid-column: 2 / 4;

    background-color: #f79292;
  }
}
