/** @format */
/* 33_transform_transition.css */
body {
  margin: 0;
}
.flex {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > img {
    width: 20vw;
    /*
      이벤트_대상 애니메이션 실행 시간 [가속도종류] [애니메이션 딜레이 시간],
      이벤트_대상 애니메이션 실행 시간 [가속도종류] [애니메이션 딜레이 시간];
    */
    transition: transform 0.2s;

    &:hover {
      /* transform: translate(30px, 30px); */
      /* transform: scale(1, 2); */
      /* transform: rotate(-270deg); */
      transform: translate(0px, -20px) scale(1.1, 1.1);
    }

    & + .title {
      font-size: 3rem;
      font-weight: 900;
      margin-top: 10px;
    }
  }
}
